<table class="table table-hover" ts-wrapper id="reports"> <thead> <th ts-criteria="createdAt">Date <th ts-criteria="period">Période de la journée <th ts-criteria="type">Type <th ts-criteria="groupId">Groupe <th ts-criteria="createdBy">Maitre  <tbody> <tr ng-repeat="report in reports" ts-repeat ng-click="go('/report/' + report.id)"> <td>{{report.createdAt | date}} <td>{{report.period}} <td>{{report.type}} <td>{{report.groupId}} <td>{{report.createdBy}}   </table> <!-- <div class="row">
	<div class="col-md-6">

		<table class="table table-hover">
			<tbody>
				<tr>
					<td>Application</td>
					<td>{{app.name}}</td>
				</tr>
				<tr>
					<td>Aspect</td>
					<td>{{app.aspect}}</td>
				</tr>
				<tr>
					<td>Theme</td>
					<td>{{app.theme}}</td>
				</tr>
				<tr>
					<td>Endpoints</td>
					<td>{{app.endpoints}}</td>
				</tr>
				<tr>
					<td>Current user</td>
					<td>{{profile.displayName}}</td>
				</tr>
				<tr>
					<td>Current permission level</td>
					<td>{{profile.permission_level}}</td>
				</tr>
			</tbody>
		</table>



	</div>
</div>
 -->